# Limpieza de los datos para que queden listos para hacer el análisis con el modelo de regresión.

In [16]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab
%matplotlib inline

In [17]:
heart_df=pd.read_csv("./framingham.csv")
heart_df.drop(['education'],axis=1,inplace=True)
heart_df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [18]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   currentSmoker    4238 non-null   int64
 3   cigsPerDay       4209 non-null   float64
 4   BPMeds           4185 non-null   float64
 5   prevalentStroke  4238 non-null   int64
 6   prevalentHyp     4238 non-null   int64
 7   diabetes         4238 non-null   int64
 8   totChol          4188 non-null   float64
 9   sysBP            4238 non-null   float64
 10  diaBP            4238 non-null   float64
 11  BMI              4219 non-null   float64
 12  heartRate        4237 non-null   float64
 13  glucose          3850 non-null   float64
 14  TenYearCHD       4238 non-null   int64
dtypes: float64(8), int64(7)
memory usage: 496.8 KB

Podemos ver que el dataset incluye mas de 4000 registros y 15 variables.
Cada variable es un factor de riesgo potencial. Existen factores riesgos demograficos, de comportamiento y médicos.
Demográficos: sexo y edad
Comportamiento: fumador frecuente, numero de cigarros por día.
Médico: BPMeds (Consume medicamentos para la presión arterial), prevalentStroke (el paciente ha tenido un accidente cerebrovascular), prevalentHyp (paciente era o no hipertenso), diabetes (paciente tenía diabetes o no), totChol (nivel de colesterol), sysBP (presión arterial sistólica), diaBP (presión arterial diastólica), BMI (Indice de masa corporal), heartRate (frecuencia cardiaca), glucose (glucosa)
Variable objetivo a predecir: 10 años de cardiopatía coronaria CHD ("1" significa "Si" y "0" significa "No")

In [19]:
heart_df.rename(columns={'male':'Sex_male'},inplace=True)

In [20]:
heart_df.head()

,Sex_male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

Buscamos si hay variables vacias.

In [21]:
heart_df.isnull().sum()

Sex_male             0
age                  0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [22]:
count=0
for i in heart_df.isnull().sum(axis=1):
    if i>0:
        count=count+1
print('El número total de filas con valores vacios son ', count)
print('dado que es solo el',round((count/len(heart_df.index))*100), 'por ciento del conjunto de datos, se excluiran las filas con valores vacios.')

El número total de filas con valores vacios son  489
dado que es solo el 12 por ciento del conjunto de datos, se excluiran las filas con valores vacios.

In [23]:
heart_df.dropna(axis=0,inplace=True)

In [24]:
heart_df.head()

,Sex_male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [25]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3749 entries, 0 to 4237
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sex_male         3749 non-null   int64
 1   age              3749 non-null   int64
 2   currentSmoker    3749 non-null   int64
 3   cigsPerDay       3749 non-null   float64
 4   BPMeds           3749 non-null   float64
 5   prevalentStroke  3749 non-null   int64
 6   prevalentHyp     3749 non-null   int64
 7   diabetes         3749 non-null   int64
 8   totChol          3749 non-null   float64
 9   sysBP            3749 non-null   float64
 10  diaBP            3749 non-null   float64
 11  BMI              3749 non-null   float64
 12  heartRate        3749 non-null   float64
 13  glucose          3749 non-null   float64
 14  TenYearCHD       3749 non-null   int64
dtypes: float64(8), int64(7)
memory usage: 468.6 KB

In [26]:
heart_df.to_csv('datos_limpiados.csv')